@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Social Space!</h1>
    
    <p>Please <a asp-controller="Account" asp-action="Login">login</a> to access the platform.</p>

</div>
